<h1>Mongo Onion Headline Scraper</h1>

<a href="http://localhost:4020/all"><button id="scrapeBtn">SCRAPE!</button></a>

<br><br>

{{#each results}}
{{#if title}}
{{inc @index}})
<br>
    <p>
        <strong>Title:</strong> {{title}}
        </p>
    <p>
        <strong>Link:</strong> <a target="_blank" href="{{URL}}">{{URL}}</a>
        </p>
    <p> 
        <strong>Summary:</strong> {{summary}}
        </p>
    <p>   
        <strong>Image:</strong> 
        </p>
    <p>
        <img src="{{image}}">
        </p>
    <hr>
{{/if}}
{{/each}}

